body.modal-active {
    overflow: hidden;
}
#modal {
    display: none;
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: rgba(0, 0, 0, .5);
    z-index: 1;
    overflow: auto;
}
.modal-dialog {
    border: 1px solid #ccc;
    background-color: #fff;
    border-radius: 3px;
    width: 800px;
    max-width: 95%;
    margin: 20px auto 0;
}
.modal-header {
    border-bottom: 2px solid #ccc;
    padding: 10px 15px;
}
.modal-header h4 {
    margin: 0;
    font-size: 18px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
button.modal-close {
    border: 0;
    padding: 0;
    background-color: transparent;
    float: right;
    font-size: 24px;
    margin: -8px 0 0 20px;
    color: #888;
}
.modal-body {
    padding: 10px;
}
iframe {
    width: 100%;
    border: 0;
    min-height: 400px;
}